@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F2F2F0;
  --foreground-color: #5D6168;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: 'LXGW WenKai TC','Noto Sans TC',  sans-serif;
}
pre:has(code) {
  position: relative;
}

pre button.copy {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 20px;
  width: 20px;
  padding: 0;
  display: flex;

  & span {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .ready {
    background-image: url(/icons/copy.svg);
  }

  & .success {
    display: none;
    background-image: url(/icons/copy-success.svg); 
  }

  &.copied {
    & .success {
      display: block;
    }

    & .ready {
      display: none;
    }
  }
}